@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(120deg,#00467F, #A5CC82);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 400px;
  background: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.center h1 {
  text-align: center;
  margin-bottom: 30px;
}

.txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 30px;
}

.txt_field input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #adadad;
  transform: translateY(-50%);
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -10px;
  color: #2691d9;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #01BF7E;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="submit"]:hover {
  background: #028f5e;
}

.back {
  text-align: center;
  margin-top: 15px;
}

.back a {
  text-decoration: none;
  color: #2691d9;
}
